<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>ミラノリブクルーネックセーター（長袖） | UNIQLO</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=1">
  <meta name="description" content="柔らかいのにしっかりとした着心地。シンプル&amp;クリーンに着こなせるミラノリブニット。">
  <meta name="keywords" content="ミラノリブクルーネックセーター（長袖）,ニット（セーター・カーディガン）,men,,ユニクロ,uniqlo,ユニクロ 通販,オンラインストア,ユニクロ店舗,ユニクロチラシ,ユニクロモバイル会員">
  <link rel="stylesheet" type="text/css" href="css/common.css" media="all">
  <link rel="stylesheet" type="text/css" href="css/uniqlostyle.css" media="all">
  <link rel="stylesheet" type="text/css" href="css/slick-theme.css">
  <link rel="stylesheet" type="text/css" href="css/slick.css">
  <link rel="stylesheet" type="text/css" href="css/carousel.css">
  <meta property="og:site_name" content="ユニクロ(UNIQLO)オンラインストア">
  <meta property="og:image" cons/ent="http://im.uniqlo.com/images/jp/pc/img/feature/uq/material/120707_thumb.jpg">
  <link rel="apple-touch-icon" href="http://im.uniqlo.com/jp/spa/apple-touch-icon-60x60_1433636775471.png">
  <link rel="apple-touch-icon" sizes="76x76" href="http://im.uniqlo.com/jp/spa/apple-touch-icon-76x76_1433636775548.png">
  <link rel="apple-touch-icon" sizes="120x120" href="http://im.uniqlo.com/jp/spa/apple-touch-icon-120x120_1433636775620.png">
  <link rel="apple-touch-icon" sizes="152x152" href="http://im.uniqlo.com/jp/spa/apple-touch-icon-152x152_1433636775861.png">

  <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="js/slick.min.js"></script>

  <style>

  </style>
  <link rel="preload" href="fonts/icomoon1.woff" as="font" crossorigin="">
  <link rel="preload" href="fonts/uniqloproregular-webfont.woff" as="font" crossorigin="">
  <link rel="preload" href="fonts/UniqloProBold.woff" as="font" crossorigin="">
  <link rel="preload" href="fonts/UniqloProLight.woff" as="font" crossorigin="">
</head>

<body>
  <div class="container">
    <!-- Navigator Strt -->
    <!-- <div class="global-nav">
      メニュー
    </div> -->
    <div class="uni-navigation-footer">
      <div class="global-fixed-footer">
        <div class="uni-utilities-and-search-container">
          <div class="uni-utilities-and-search-container-inner">
            <div class="uni-wishlist-cart-link-container">
              <div class="uni-top-menu-right">
                <span class="uni-menu-search-close-trigger-text">メニュー</span>
              </div>
              <div class="uni-search-form-trigger uni-highlight" search-focus="">
                <span class="uni-search-form-trigger-text">検索</span>
              </div>
              <!-- <a class="uni-store-locator" ng-href="https://map.uniqlo.com/jp/ja/" analytics-on="click" analytics-event="click" analytics-label="H_StoreLocator" analytics-category="H_StoreLocator" target="_self" href="https://map.uniqlo.com/jp/ja/">
                <span class="uni-store-locator-title">店舗</span>
              </a> -->
              <!-- <a ng-click="gotoWishlist($event)" class="uni-wishlist-link" title="お気に入り" ng-class="{ 'uni-state-active': page === 'wishlist' }">
              <div class="uni-wishlist-link-current-count" ng-class="{ 'uni-count-limit': current > 99 }">
          	    <span class="uni-wishlist-link-current-count-value">0</span>
          	    <span class="uni-wishlist-link-old-count">0</span>
              </div>
              <a><span class="uni-wishlist-link-text">お気に入り</span></a> -->
              <a href="" target="_self" class="uni-cart-link uni-state-wishlist-filled" title="カート">
                <div class="uni-wishlist-link-current-count">
                  <span class="uni-wishlist-link-current-count-value">2</span>
                  <span class="uni-wishlist-link-old-count">2</span>
                </div>
                <span class="uni-cart-link-text">カート</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Navigator End -->
    <!-- Contents Start -->
    <div class="product-details">
      <div class="center-item">
            <div><img src="images/carousel_01.jpg"></div>
            <div><img src="images/carousel_02.jpg"></div>
            <div><img src="images/carousel_03.jpg"></div>
            <div><img src="images/carousel_04.jpg"></div>
            <div><img src="images/carousel_05.jpg"></div>
            <div><img src="images/carousel_06.jpg"></div>
            <div><img src="images/carousel_07.jpg"></div>
      </div>

      <div class="uni-product-price-details">
        <div class="uni-product-price-promotion-container">
          <p ng-class="cssClass" class="uni-product-sale-price uni-state-limited-offer">
            <span class="uni-product-price-currency-symbol">¥</span>990
            <span ng-transclude="">
            <span class="uni-product-price-tax">＋消費税</span>
            </span>
            <strong class="uni-product-badge uni-product-red-badge uni-product-badge-items" >値下げ</strong>
          </p>
        </div>
      </div>
      <div class="product-title">
        ミラノリブクルーネックセーター（長袖）
      </div>

        <div class="product-into-cart-wrapper">
          <div class="product-into-cart-button" id="myBtn">カートに入れる</div>
        </div>
      </a>
      <a>
        <div class="product-into-store-stockcheck">
          店舗の在庫を確認する
        </div>
      </a>

      <!-- Product Details Start -->
      <div class="product-details-container">

        <div class="w3-bar w3-black">
          <button class="w3-bar-item w3-button tablink w3-red" onclick="openTabDetail(event,'tab-product-info')">商品説明</button>
          <button class="w3-bar-item w3-button tablink" onclick="openTabDetail(event,'tab-product-detail')">詳細情報</button>
          <button class="w3-bar-item w3-button tablink" onclick="openTabDetail(event,'tab-product-comment')">コメント</button>
        </div>

        <div id="tab-product-info" class="w3-container tabInfos">
          <div class="product-details-text">
            ・クリーンな表面感が魅力のミラノリブニット。
            <br>・襟や袖口、裾のリブは目立たなくして、カットソーのようなルックスに。
            <br>・襟や袖口、裾のリブはナイロン糸を使い、伸びたるみを防止。
            <br>・カジュアルにもスマートにも着回し自在。
            <br>・トレンドのワントーンコーデにもおすすめ。
            <br><br>※店舗とは販売日が異なることがあります。
            <br>※当商品の店舗在庫状況は、販売開始後、『店舗の在庫を確認する』ボタンにて、ご確認ください。
            <br>※商品によっては品切れや未入荷、もしくは取扱いが変更になる場合があります。
            <br>※店舗でのお取置き、お取寄せはご容赦ください。
            <br><br>※XS・XXL・3XL・4XLサイズは、オンラインストアのみでの取り扱いとなります。
          </div>
          <div class="product-details-questioninfo-container">
            <ul>
              <li class="text-first-line"></li>
              <li class="product-details-questioninfo-text">サイズ表を見る</li>
              <li class="product-details-questioninfo-text">着丈感を見る</li>
              <li class="product-details-questioninfo-text">はじめてのお客様へ</li>
              <li class="product-details-questioninfo-text">返品・返金・交換について</li>
            </ul>
          </div>
        </div>

        <div id="tab-product-detail" class="w3-container tabInfos" style="display:none">
          <div class="product-details-text">
            <div class="uni-product-id-details">
              <span class="uni-product-id-label">商品番号</span> :
              <span class="uni-product-id-value">188680</span>
            </div>
            <dl class="uni-product-details-list">
              <dt class="uni-product-details-list-heading">素材</dt>
              <div class="product-materials">
                <dd>54％ ポリエステル，20％ アクリル，20％ ナイロン，6％ 毛</dd>
              </div>
              <dt class="uni-product-details-list-heading">取扱い</dt>
              <dd ng-if="product.handling">手洗い</dd>
              <dt class="uni-product-details-list-heading">商品番号</dt>
              <dd ng-repeat-end="" ng-bind-html="item.detail">生産時期、生産国の違い等により、表記と違う商品番号でお届けの場合があります。規格は同一商品です。予めご了承ください。</dd>
              </dl>
          </div>
        </div>

        <div id="tab-product-comment" class="w3-container tabInfos" style="display:none">
          <div class="uni-tab" id="uni-pdp-reviews">
            <div class="uni-tab-content uni-review-tab-variantb">
              <div class="max-review-details-wrapper">
                <div class="max-review-details">
                  <div class="review-title">お客様のコメント</div>
                  <a target="_self" class="uni-write-review-link">
                    <h3>コメントを書く</h3>
                  </a>
                  <div class="uni-review-rating-details" ng-click="gotoreviewDetails()">
                    <div class="uni-review-rating uni-review-rating-container">
                      <div class="uni-product-rating">
                        <div class="uni-product-rating-container">
                          <div class="uni-product-rating-filled-stars-container">
                            <span class="uni-product-rating-star"></span>
                            <span class="uni-product-rating-star"></span>
                            <span class="uni-product-rating-star"></span>
                            <span class="uni-product-rating-star"></span>
                            <span class="uni-product-rating-star"></span>
                          </div>
                          <div class="uni-product-rating-empty-stars-container">
                            <span class="uni-product-rating-star"></span>
                            <span class="uni-product-rating-star"></span>
                            <span class="uni-product-rating-star"></span>
                            <span class="uni-product-rating-star"></span>
                            <span class="uni-product-rating-star"></span>
                          </div>
                          <p class="uni-product-rating-text">
                            <span>4.5</span>/<span>5</span> stars
                          </p>
                        </div>
                        <p class="uni-product-rating-text">
                          <span>4.5</span>/<span>5</span> stars
                        </p>
                      </div>
                    </div>
                    <div class="uni-rating-display">
                      <span class="review-count-details">73</span>
                    </div>
                  </div>
                  <span class="border-class"></span>
                </div>
              </div>
              <div class="l4-review-tab L4-review product-review-border-class" id="product-review">
                <div class="customer-review" ng-if="product.reviews.count > 0">お客様の評価</div>
                <ul class="progress-bar" ng-if="product.reviews.count > 0">
                  <li class="progress-rating-bar">
                    <div class="uni-product-review-rating">
                      <div class="uni-product-review-rating-filled-stars-container">
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                      </div>
                      <div class="uni-product-review-rating-empty-stars-container">
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                      </div>
                    </div>
                    <div class="progress-rating">
                      <div class="progress-bar-content" style="width: 54%;"></div>
                    </div>
                    <div class="review-count-container">
                      <span class="progress-rating-count" style="margin-right: 0px;">40</span>
                      <span class="uni-review-tick">
                    </span>
                    </div>
                  </li>
                  <li class="progress-rating-bar">
                    <div class="uni-product-review-rating">
                      <div class="uni-product-review-rating-filled-stars-container" style="width: 80%;">
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                      </div>
                      <div class="uni-product-review-rating-empty-stars-container">
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                      </div>
                    </div>
                    <div class="progress-rating">
                      <div class="progress-bar-content" style="width: 36%;"></div>
                    </div>
                    <div class="review-count-container">
                      <span class="progress-rating-count" style="margin-right: 0px;">27</span>
                      <span class="uni-review-tick">
                    </span>
                    </div>
                  </li>
                  <li class="progress-rating-bar">
                    <div class="uni-product-review-rating">
                      <div class="uni-product-review-rating-filled-stars-container" style="width: 60%;">
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                      </div>
                      <div class="uni-product-review-rating-empty-stars-container">
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                      </div>
                    </div>
                    <div class="progress-rating">
                      <div class="progress-bar-content"></div>
                    </div>
                    <div class="review-count-container">
                      <span class="progress-rating-count">7</span>
                      <span class="uni-review-tick">
                    </span>
                    </div>
                  </li>
                  <li class="progress-rating-bar disable" disabled="disabled">
                    <div class="uni-product-review-rating">
                      <div class="uni-product-review-rating-filled-stars-container" style="width: 40%;">
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                      </div>
                      <div class="uni-product-review-rating-empty-stars-container">
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                      </div>
                    </div>
                    <div class="progress-rating">
                      <div class="progress-bar-content"></div>
                    </div>
                    <div class="review-count-container">
                      <span class="progress-rating-count">0</span>
                      <span class="uni-review-tick">
                    </span>
                    </div>
                  </li>
                  <li class="progress-rating-bar disable" disabled="disabled">
                    <div class="uni-product-review-rating">
                      <div class="uni-product-review-rating-filled-stars-container" style="width: 20%;">
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                      </div>
                      <div class="uni-product-review-rating-empty-stars-container">
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                        <span class="uni-product-review-rating-star"></span>
                      </div>
                    </div>
                    <div class="progress-rating">
                      <div class="progress-bar-content"></div>
                    </div>
                    <div class="review-count-container">
                      <span class="progress-rating-count">0</span>
                      <span class="uni-review-tick">
                    </span>
                    </div>
                  </li>
                </ul>
                <div class="sense-of-fit-wrap L4-sense-of-fit" id="product-sense-of-fit">
                  <div class="L4-sense-of-fit-title" translate="product.review.senseOfFit.title">お客様の着用感</div>
                  <div class="L4-sense-of-fit-scale-wrapper">
                    <div class="L4-sense-of-fit-scale-wrap">
                      <div class="L4-sense-of-fit-scale-label-wrap">
                        <div class="L4-sense-of-fit-scale-label L4-sense-of-fit-scale-label-low" translate="product.review.senseOfFit.low">小さい</div>
                        <div class="L4-sense-of-fit-scale-label L4-sense-of-fit-scale-label-good" translate="product.review.senseOfFit.good">ちょうどよい</div>
                        <div class="L4-sense-of-fit-scale-label L4-sense-of-fit-scale-label-vgood" translate="product.review.senseOfFit.high">大きい</div>
                      </div>
                      <div class="L4-sense-of-fit-scale-radio-wrapper">
                        <div class="L4-sense-of-fit-scale-radio-wrap">
                          <div class="L4-sense-of-fit-scale-radio-sel-cls-android L4-sense-of-fit-scale-radio-cls">
                          </div>
                          <div class="L4-sense-of-fit-scale-radio-sel-cls-android L4-sense-of-fit-scale-radio-cls">
                          </div>
                          <div class="L4-sense-of-fit-scale-radio-sel-cls-android L4-sense-of-fit-scale-radio-sel-cls">
                            <span ng-if="(senseOfFitVal === product.reviews.fit_average)"></span>
                          </div>
                          <div class="L4-sense-of-fit-scale-radio-sel-cls-android L4-sense-of-fit-scale-radio-cls">
                          </div>
                          <div class="L4-sense-of-fit-scale-radio-sel-cls-android L4-sense-of-fit-scale-radio-cls">
                          </div>
                        </div>
                        <hr class="L4-sense-of-fit-scale-hr">
                      </div>
                    </div>
                  </div>
                </div>
                <uni-collapse state-key="'product-188680-reviews'" trigger="bus.reviews.loaded" id="uni-pdp-description" class="uni-tab  uni-pdp-tab uni-review-pdp-tab">
                  <uni-tab-header class="uni-tab-header">
                    <div class="review-utility-bar">表示件数 73 件</div>
                  </uni-tab-header>
                </uni-collapse>
              </div>
            </div>
        </div>
      </div>
      <!-- Product Details End -->

      <!-- Related Product Start-->
      <div class="related-product">
      </div>
      <!-- Related Product End -->

      <!-- UT Banner & Category Start -->
      <div class="uni-product-secondary-content">
        <!-- UT me banner -->
        <div class="size-placeholder-wrapper" sns-enable="false" image-ratio="3.24" style="padding-bottom: 30.8642%;">
          <img class="size-placeholder" image-lazy-src="http://im.uniqlo.com/jp/spa/640_200_peanuts_pagebtm_1474021029463.jpeg" src="http://im.uniqlo.com/jp/spa/640_200_peanuts_pagebtm_1474021029463.jpeg">
        </div>
        <!-- UT banner End -->
        <!-- Category Start -->
        <div>
          <ul class="pdp-department-links  uni-department-links-list">
            <li>
              <a href="" style="line-height: 88px;">
                <span>WOMEN</span>
              </a>
            </li>
            <li>
              <a href="" style="line-height: 88px;">
                <span>MEN</span>
              </a>
            </li>
            <li>
              <a href="" style="line-height: 88px;">
                <span>KIDS</span>
              </a>
            </li>
            <li>
              <a href="" style="line-height: 88px;">
                <span>BABY</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- Category End -->
      </div>
      <!-- UT Banner & Category End -->

      <!-- Footer Start-->
      <!-- <hr class="footer-container-hr"> -->
      <div class="footer-container">
        <div footer-scroll="" class="main-footer">
          <div class="footer-link-text-container">
            <ul>
              <li class="footer-link-text">ログイン</li>
              <li class="footer-link-text">会員情報・登録・解除</li>
              <li class="footer-link-text">店舗検索</li>
              <li class="footer-link-text">ご利用ガイド</li>
              <li class="footer-link-text">ユニクロアプリ</li>
              <li class="footer-link-text">ジーユーオンラインストア</li>
            </ul>
          </div>
        </div>
        <div class="ro-static-content" data-ctype="content:staticContent" data-cid="73"><p class="uni-footer-copyright">COPYRIGHT(C) UNIQLO CO., LTD. ALL RIGHTS RESERVED.</p></div>
      </div>
      <!-- Footer End -->

      <!-- Cart Mordal Popup Start -->
      <div id="myModal" class="modal">
        <div class="modalBg" style="opacity: 0.5;"></div>
        <div class="modalDialog">
          <div class="modalCloseIconWrap">
            <div class="modalCloseIcon"></div>
          </div>
          <div class="modalContent">
            <div id="popCartBtnWrapper" class="">
              <!-- Cart Buttons Wrapper-->
              <section class="modalInner">
                <h2 class="sectionH">商品を選んでカートに入れる</h2>
                <div class="popBody">
                  <div class="popInner">

                    <dl>
                      <dt><img src="images/00_188680.jpg"><span>00 WHITE</span></dt>
                      <dd class="popBtnBox_container">
                          <input type="radio" name="rGroup" value="" id="r1" />
                          <label class="radio" for="r1">XS</label>
                          <input type="radio" name="rGroup" value="" id="r2" />
                          <label class="radio" for="r2">S</label>
                          <input type="radio" name="rGroup" value="" id="r3" />
                          <label class="radio" for="r3">M</label>
                          <input type="radio" name="rGroup" value="" id="r4" />
                          <label class="radio" for="r4">L</label>
                      </dd>

                      <dd class="popBtnBox_container">
                        <input type="radio" name="rGroup" value="" id="r5" />
                        <label class="radio" for="r5">XL</label>
                        <input type="radio" name="rGroup" value="" id="r6" />
                        <label class="radio" for="r6">XXL</label>
                        <input type="radio" name="rGroup" value="" id="r7" />
                        <label class="radio" for="r7">3XL</label>
                        <input type="radio" name="rGroup" value="" id="r8" />
                        <label class="radio" for="r8">4XL</label>
                        </div>
                      </dd>
                    </dl>

                    <dl>
                      <dt><img src="images/03_188680.jpg"><span>03 GRAY</span></dt>
                      <dd class="popBtnBox_container">
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">XS</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">S</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">M</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">L</a></p>
                        </div>
                      </dd>
                      <dd class="popBtnBox_container">
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">XL</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">XXL</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">3XL</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">4XL</a></p>
                        </div>
                      </dd>
                    </dl>

                    <dl>
                      <dt><img src="images/66_188680.jpg"><span>66 BLUE</span></dt>
                      <dd class="popBtnBox_container">
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">XS</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">S</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">M</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">L</a></p>
                        </div>
                      </dd>
                      <dd class="popBtnBox_container">
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">XL</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">XXL</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">3XL</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">4XL</a></p>
                        </div>
                      </dd>

                    <dl>
                      <dt><img src="images/69_188680.jpg"><span>69 BLACK</span></dt>
                      <dd class="popBtnBox_container">
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">XS</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">S</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">M</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">L</a></p>
                        </div>
                      </dd>
                      <dd class="popBtnBox_container">
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">XL</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">XXL</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">3XL</a></p>
                        </div>
                        <div class="popBtnBox">
                          <p><a href="#" class="btn btnSizeSelect">4XL</a></p>
                        </div>
                      </dd>
                    </dl>
                  </div>
                </div>

                <div id="myModalClose" class="modalCloseWrap">
                  <p class="btnModalClose">閉じる</p>
                </div>

                <div class="modalCloseIconWrap"><p>CLOSE</p></div>

              </section>
            </div>
          </div>
        </div>
      </div>
      <!-- Cart Mordal Popup Cloase -->

    </div>
  </div>
</body>

<script>
  function openTabDetail(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("tabInfos");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " w3-red";
  }
</script>

<script>
  var modal = document.getElementById('myModal');
  var modalopen = document.getElementById("myBtn");
  var modalclosebyicon = document.getElementsByClassName("modalCloseIconWrap")[0];
  var modalclosebybutton = document.getElementsByClassName("btnModalClose")[0];
  modalopen.onclick= function() { modal.style.display = "block"; }
  modalclosebyicon.onclick = function() { modal.style.display = "none"; }
  modalclosebybutton.onclick = function() { modal.style.display = "none"; }
</script>

<script>
$(function() {
	$('.center-item').slick({
		infinite: true,
		dots:true,
		slidesToShow: 1,
		centerMode: true, //要素を中央寄せ
		centerPadding:'0px', //両サイドの見えている部分のサイズ
		autoplay:false, //自動再生
		responsive: [{
			breakpoint: 320,
				settings: {
					centerMode: false,
			}
		}]
	});
});
</script>

</html>
